{% extends 'public/base_cpanel.html' %}
<!--Cambiando el title-->
{% block title %}Crud con Python 🐍 | Registrar Sitio{% endblock %}
<!---->
{% block customCSS %}
<link rel="stylesheet" href="{{ url_for('static', filename ='assets/css/file.css') }}" />
{% endblock %}

<!--Inicio del block-->
{% block body %}
<div class="card" style="border-radius: 0px !important">
  <div class="row justify-content-center mb-2">
    <div class="col-md-12">
      <h3 class="text-center mt-5 mb-3">CREAR NUEVO SITIO</h3>
      <hr />
    </div>
  </div>

  <div class="row justify-content-center mb-2">
    <div class="col-md-10">
      <form class="form-horizontal mx-auto" method="POST" action="/form-registrar-sitio" autocomplete="off"
        enctype="multipart/form-data">
        <div class="card-body">
          <div class="row">

            <div class="col-md-6">
              <label for="" class="form-label">
                CARGAR IMAGEN DEL SITIO
              </label>
              <div class="avatar-upload">
                <div class="avatar-edit">
                  <input type="file" name="foto_sitio" id="imageUpload" accept=".png, .jpg, .jpeg" />
                  <label for="imageUpload"><i class="bi bi-pen"></i></label>
                </div>
                <div class="avatar-preview">
                  <div class="avatar-preview">
                    {% set url_avatar= url_for('static', filename
                    ='assets/img/images.png') %}
                    <div id="imagePreview" style="background-image: url('{{ url_avatar }}')"></div>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-md-6">
              <label for="nombre_sitio" class="form-label">
                Nombre
              </label>
              <input type="text" name="nombre_sitio" class="form-control" required />

              <label for="ciudad_sitio" class="form-label">
                Ciudad
              </label>
              <input class="form-control" type="text" name="ciudad_sitio" required />

              <label for="provincia_sitio" class="form-label">
                Provincia
              </label>
              <input class="form-control" type="text" name="provincia_sitio" required />

              <label for="descripcion_sitio" class="form-label">
                Descripcion
              </label>
              <input class="form-control" type="text" name="descripcion_sitio" required />
            </div>
          </div>

          <div class="mb-3 mt-4 text-center">
            <button type="submit" class="btn rounded-pill btn-primary">
              Guardar sitio ahora
              <i class="bi bi-arrow-clockwise"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %} {% block customJS %}
<script src="{{ url_for('static', filename ='assets/customJS/file.js') }}"></script>
{% endblock %}